
.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.menu-wrap .menu-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 50px;
  height: 50px;
  opacity: 0;
  cursor: pointer;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 50px;
  height: 50px;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger lines */
.menu-wrap .hamburger > div {
  position: relative;
  width: 70%;
  height: 3px;
  background: #fff;
  transition: all 0.5s ease-in-out;
}

/* Hamburger lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  width: 100%;
  height: 3px;
  background: inherit;
  position: absolute;
  top: -10px;
}

.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* menu checkbox animation */
.menu-wrap .menu-checkbox:checked + .hamburger > div {
  transform: rotate(135deg);
}

.menu-wrap .menu-checkbox:checked + .hamburger > div:before,
.menu-wrap .menu-checkbox:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate on hover, when checked  */
.menu-wrap .menu-checkbox:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Style the menu items */
.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.menu-wrap .menu ul, a {
  list-style: none;
  text-decoration: none;
  color: #fff;
  transition: all 0.4s ease;
}

.menu-wrap .menu ul li {
  padding: 1rem;
}

.menu-wrap .menu a:hover {
  color: var(--secondary-color);
}

.menu-wrap .menu > div {
  background: var(--overlay-color);
  width: 300vw;
  height: 300vw;
  display: flex;
  border-radius: 50%;
  flex: none;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
  transform: scale(0);
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  transition: opacity 0.4s ease;
  opacity: 0;
}

/* menu visibility */
.menu-wrap .menu-checkbox:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .menu-checkbox:checked ~ .menu > div {
  transform: scale(1);
}

.menu-wrap .menu-checkbox:checked ~ .menu > div > div {
  opacity: 1;
}


